form{
    position: relative;
    background: white;
}

textarea{
    resize: none;
    border-radius: 10px;
    
    padding: 10px;
    padding-top: 30px;
    width: 58vw;
    height: 30vh;
}

input{
    padding: 10px;
    border-radius: 10px;
    padding-top: 30px;
    font-size: large;
    width: 58vw;
}

label{
    position: relative;
    top: 30px;
    left: 20px;
    background: white;
}

.btn2{
    padding: 10px 20px 10px 20px;
    font-size: 1em;
    border: 2px solid violet;
    margin-left: 10px;
}

.btn1{  
    padding: 10px 20px 10px 20px;
    font-size: 1em;
    border: 2px solid violet;
    
}

.btn{
    position: absolute;
    right: 0px;
    margin: 5px;
}

.modaladd{
    height: 60vh;
    position: relative;
    background-color: #FFF;
    padding: 50px;
    width: 60%;
    border-radius: 20px;
}


.overlayadd{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    z-index: 3;
}
