

.book{
    position: relative;
    background: #FFF;
    padding: 0 1em 2em 1em;
    border-radius: 17px;
    margin-bottom: 1em;
    border: 1px solid white;
    border-radius: 17px;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    color: white;

}

.bottom{
    position: absolute;
    right: 8px;
    bottom: 2px;
    display: inline-flex;
    max-width: fit-content;
    max-height: fit-content;
    justify-content: space-around;
    padding: 0;
}

.book:hover{
box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 1);
}

.book h5{
padding-top: 1em;
margin: 0%;
font-size: 12px;
font-weight: 700;
}

.book p{
font-size: 12px;
font-weight: 400;
overflow-wrap: break-word;
hyphens: auto;
}

.btn3{
background: white;
border: none;
}

img{
width: 20px;
height: 20px;
}