.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    z-index: 3;
}

.modal{
    background-color: #FFF;
    padding: 50px;
    width: 60%;
    height: 60vh;
    border-radius: 20px;
}

button{
    background: white;
    border: none;
    border-radius: 4px;
 }

button:hover{
    background: rgba(127, 125, 125, 0.7);
}

.content{
    height: 50vh;
    overflow-y: auto;
}