.notes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(287px,1fr));
    gap: 1em;
    padding: 4em;
    padding-top: 2rem;
    transition: ease-out;
    }
  
    @media (max-width:600px){
      .notes-list{
          grid-template-columns: repeat(auto-fill,minmax(287,1fr));
      }
    }

    .add-notes{
      position: relative;
      box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.7);
      border-radius: 17px;
      margin-bottom: 1em;
      height: 198.5px;
      border: 1px solid white;
    }

    .add-notes:hover{
      box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 1);
      border: 1px solid black;
    }

    .add-notes span{
      display: inline-flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .add-notes span img{
      position: relative;
      top: 18px;
      right: 3px;
    }