
    .note--container {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 16px 24px;
        border-radius: 14px;
        box-shadow: 0px 0px 20px -10px rbga(0,0,0,0.25);
        cursor: pointer;
        overflow: hidden;
        justify-content: space-between;
        min-height: 240px;
    }
    .note{
        overflow: hidden;

    }

    .note--action{
        right: 16px;
        bottom: 10px;
        display: inline-flex;
        gap:10px;
        align-items: flex-end;
        justify-content: flex-end;
    }
   
.note--container:hover{
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.25);
}

.note h5{
    margin:0;
    padding-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
}

.note p{
    font-size:16px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    white-space: pre-wrap;
}

 .btn3{
    background: white;
    border: none;
 }

 img{
    width: 20px;
    height: 20px;
 }