.tabs{
    display: inline-flex;
    padding: 1.5rem 0 0 4rem;
    gap: 20px;
    justify-content: center ;
}
.tabs > button{
    border-radius: 3.125rem;
    background-color: #FF6D03;
    padding: 1rem 2rem 1rem 2rem;
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
